  /* General setup */

  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }

  /* WRITE YOUR CODE BELOW HERE */  
  @font-face {
    font-family: 'Aaargh-Regular';
    src: url('Aaargh.ttf') format('truetype');
    font-weight: bold;
  }
  @font-face {
    font-family: 'Aaargh-regular';
    src: url('Aaargh.ttf');
    font-weight: 100;
    font-style: normal;
  }

  html {
    font-family: 'Aaargh-bold', sans-serif;
    font-size: 10px;
  }

  h1, h2{
    font-family: sans-serif;
    letter-spacing: 3px;
  }

  h1{
    font-size: 4rem;
    text-align: center;
  }

  h2{
    font-size: 3rem;
  }

  p, li{
    font-size: 1.2rem;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 1.4;
  }

  section h2 + p{
    text-indent: 20px;
  }

  a{
    outline: none;
  }

  a:link, a:visited{
    color: maroon;
  }

  a:focus, a:hover{
    text-decoration: none;
    color: aliceblue;
  }

  a:active{
    color: rgb(75, 2, 2);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  }

  a[href*="http"]{
    background: url('external-link-52.png') no-repeat 100%;
    padding-right: 18px;
    background-size: 15px 15px;
  }

  ul, ol{
    list-style-type: square;
  }

  nav ul{
    margin-top: 1rem;
  }

  nav li{
    list-style-type: none;
  }

  nav li a{
    border: 1px solid rgb(213, 77, 77);
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 1.5rem;
    line-height: 3.5;
    font-size: 2rem;
    text-decoration: none;
  }

  nav li a:hover, nav li a:focus{
    color: white;
    background-color: rgba(255,255,255, 0.2);
  }

  nav li a:active{
    color: white;
    background: rgb(60, 53, 53);
  }